body {
    width: 600px;
    height: 500px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 0 2rem;
}

.extension-title {

    font-family: 'Anybody', cursive;
    font-weight: 400;
    text-align: center;
}

img{
    align-items: center;
    margin-top: 0;
    display: flex;
  }

h2 {
    font-family: 'Anybody', cursive;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}


.zoekbalk {

    text-align: center;
    padding-top: 40px;
    size: 40px;
}

#search-input {
    height: 40px;
    width: 250px;
    font-family: 'Anybody', cursive;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
}

#search-button {
    height: 40px;
    width: 80px;
    font-family: 'Anybody', cursive;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
}

.navbar-inner {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar {
    border-bottom: 1px solid #333;
    padding: 1rem 0;
    
}

#scrollbalk {

  height: 120px;
  width: auto;
}

#scrollbalk-gif {

    height: 150px;
    width: auto;
  }

.voorbeelden-1 {

    display: flex;
    margin: 50px 0 0 0;
    align-items: center;
}