body {
    width: 800px;
    height: 600px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 100%;
    padding: 0 2rem;

}

.extension-title {

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
}

img{
    align-items: center;
    margin-top: 0;
    display: flex;
  }

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    padding-top: 10px;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
}

h4 {
    font-family: 'Anybody', cursive;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    font-style: italic;
}


.zoekbalk {

    size: 40px;
    align-items: left;
    vertical-align: middle;
    padding-top: 10px;
    
}

.categorie-buttons {

    size: 40px;
    align-items: left;
    vertical-align: middle;
    padding-top: 10px;

}

#search-input {
   padding: 10px;
    width: 250px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    outline-color: #2fb166;

}


#search-button {
    padding: 10px;
    width: 50px;
    font-family: 'Anybody', cursive;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    justify-content: center;
}

.shadow {

    border: 1px solid;
    box-shadow: 2px 5px;
    padding: 0 20px 20px 20px
}

.shadow-2 {

    border: 1px solid;
    box-shadow: 2px 5px;
    padding: 0 20px 20px 20px;
    margin-top: 10px;
}


#loupe {

    width: auto;
    height: 30px;
}


.navbar-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar-right {

    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbar {
    border-bottom: 1px solid #333;
    padding: 1rem 0;
    
}

#scrollbalk {

  height: 300px;
  width: auto;
}

#wachtwoord-foto {

    height: 200px;
    width: auto;
    display: block;
    

  }

#scrollbalk-gif {

    height: 300px;
    width: auto;
  }

.voorbeelden-1 {

    display: flex;
    margin: 50px 0 0 0;
    align-items: center;
}

.extension-page {

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-align: center;
}

#filteren {

    height: 250px;
    width: auto;
  }

  #filteren-bol {

    height: 250px;
    width: auto;
  }

  #filteren, #filteren-bol {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#scrollbalk, #scrollbalk-gif {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.next-button {
    height: 40px;
    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #ffffff;  
    background-color: #2FE2A5;
    padding: 10px 24px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: center;

}

.back-button {
    height: 40px;
    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: #ffffff;  
    background-color: #FE7D67;
    padding: 10px 24px;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    right: 140px;
    text-align: center;

}

.account {

    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #2FE2A5;
    color: #2FE2A5;
    border-radius: 2px;

}

.wachtwoord {

    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #2FE2A5;
    color: #2FE2A5;
    border-radius: 2px;

}

.fout {
    width: auto;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid #2FE2A5;
    color: #2FE2A5;
    border-radius: 2px;

}

.box {

    border: 1px solid rgb(130, 130, 130);
    padding: 30px 10px 30px 10px;
    justify-content: center;
    display: flex;
    border-radius: 2px;
    
}

.search-container {

    display: flex;
}